html.langs .body {
  center {
    height: 100vh;
    width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      &:first-of-type {
        margin-bottom: 1rem;
        grid-gap: 1rem;
      }
      &:last-of-type {
        grid-template-columns: 1fr;
      }
      li {
          margin: 0 1rem;
          a {
              display: block;
              width: 100%;
              text-decoration: none;
              text-align: center;
              background-color: $primary-color;
              color: white;
              font-size: 1.25rem;
              border-radius: 10px;
              padding: 1rem;
              transition: all 0.25s ease;
              &:hover {
                  background-color: lighten($primary-color, 15%);
              }
          }
      }
  }
}

$breakpoints: (
  's':  616px,
  'm':  616px,
) !default;

@mixin mq($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
   
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }
  