<container class="footer-wrap">
  <spacer size="20"></spacer>
  <!--[if !mso]><!-->
    <div class="mobile-only">
      <row class="mobile-footer">
        <columns small="12">
          <a href="https://www.fishersci.ca/ca/fr/special-offers-and-programs.html?change_lang=true&cid={{cid}}">Demander les factures par courriel</a>
          <a href="https://www.fishersci.ca/ca/fr/special-offers-and-programs.html?change_lang=true&cid={{cid}}">Promotions</a>
          <a href="http://app.info.fishersci.com/e/es.aspx?s=~~eloqua..type--emailfield..syntax--siteid..innerText--siteid..encodeFor--url~~&e=~~eloqua..type--emailfield..syntax--elqemailsaveguid..innerText--elqemailsaveguid..encodeFor--url~~">Voir ce message en ligne</a>
        </columns>
      </row>
    </div>
  <!--<![endif]-->
  <row>
    <columns class="social" small="2" large="1">
      <a href="https://www.linkedin.com/company/fisherscientific"><img src="http://images.info.fishersci.com/EloquaImages/clients/ThermoFisherScientificCCG/%7B52bb2d9b-bd5a-41e6-b948-a478bdfa35af%7D_ico-linkedin-rsd.jpg" alt="LinkedIn"></a>
      <spacer size="10"></spacer>
      <a href="https://www.facebook.com/fisherscientific/"><img src="http://images.info.fishersci.com/EloquaImages/clients/ThermoFisherScientificCCG/%7Ba71728d3-556d-47ff-a80c-00c2596f3942%7D_ico-facebook-rsd.jpg" alt="Facebook"></a>
      <spacer size="10"></spacer>
      <a href="https://twitter.com/fishersci?lang=en"><img src="http://images.info.fishersci.com/EloquaImages/clients/ThermoFisherScientificCCG/%7Bf075f68e-be79-4b33-8ef8-c199b683c5da%7D_ico-tw-rsd.jpg" alt="Twitter"></a>
    </columns>
    <columns class="footer" small="10" large="6">
      <p>Distribué par Fisher Scientific. Communiquez avec nous aujolurd'hui :</p>
      <spacer size="12"></spacer>
      <p>Ceci est un message promotionnel de Fisher Scientific. Veuillez consulter <a href="https://www.fishersci.ca/ca/fr/footer/privacypolicy.html?change_lang=true&cid={{cid}}">notre politique en matière de confidentialité</a></p>
      <spacer size="12"></spacer>
      <p>Si vous voulez, vous pouvez <a href="http://info.fishersci.com/preference-center?country=fr">changer vos préférences courriel</a>. <br />Or, <a href="http://info.fishersci.com/optout-preference-center?country=fr">Opt Out</a></p>
      <spacer size="12"></spacer>
      <p>112 Colonnade Road, Ottawa, Ontario K2E 7L6, Canada<br />&copy; Thermo Fisher Scientific Inc. Tous droits réservés.</p>
      <spacer size="12"></spacer>
      <p>Pour assurer la réception de ces courriels, ajoutez <a href="mailto:fisherscientific@fishersci.com">
      fisherscientific@fishersci.com</a> à votre carnet d’adresses.</p>
    </columns>
    <columns class="downloads" small="12" large="3">
      <p>
        <img src="http://images.info.fishersci.com/EloquaImages/clients/ThermoFisherScientificCCG/%7B96e21d1f-0121-42e7-99bb-53a07b70b977%7D_thermo-fisher.png" alt="Thermo Fisher Scientific" width="130" />
      </p>
    </columns>
  </row>
</container>

<spacer size="40"></spacer>