<container class="pre-header">
  <row>
    <columns>
      <a href="{{preheaderUrl}}?cid={{cid}}">{{preheaderText}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://app.info.fishersci.com/e/es.aspx?s=~~eloqua..type--emailfield..syntax--siteid..innerText--siteid..encodeFor--url~~&e=~~eloqua..type--emailfield..syntax--elqemailsaveguid..innerText--elqemailsaveguid..encodeFor--url~~">View Online</a>
    </columns>
  </row>
</container>

<container class="header">
  <row>
    <columns class="brand" small="12" large="6" valign="middle">
      <a href="http://www.fishersci.ca/ca/en/home.html?cid={{cid}}">
        <img src="http://images.info.fishersci.com/EloquaImages/clients/ThermoFisherScientificCCG/%7B357c72a9-971e-498a-b6d5-b863ca7ca17c%7D_fisher-brand.png" alt="Fisher Scientific" />
      </a>
    </columns>
    <columns class="top-nav show-for-large" large="6" valign="middle">
      <p class="text-right">
        <a href="http://www.fishersci.ca/ca/en/request-invoices-by-email.html?cid={{cid}}">Invoices By Email</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.fishersci.ca/ca/en/special-offers-and-programs.html?cid={{cid}}">Promotions</a>
      </p>
    </columns>
  </row>
</container>