<container class="footer-wrap">
  <spacer size="20"></spacer>
  <!--[if !mso]><!-->
    <div class="mobile-only">
      <row class="mobile-footer">
        <columns small="12">
          <a href="http://www.fishersci.com/us/en/products.html?cid={{cid}}">Shop Products</a>
          <a href="http://www.fishersci.com/us/en/scientific-products/special-offers-and-programs.html?cid={{cid}}">Special Offers</a>
          <a href="http://app.info.fishersci.com/e/es.aspx?s=~~eloqua..type--emailfield..syntax--siteid..innerText--siteid..encodeFor--url~~&e=~~eloqua..type--emailfield..syntax--elqemailsaveguid..innerText--elqemailsaveguid..encodeFor--url~~">View Online</a>
        </columns>
      </row>
    </div>
  <!--<![endif]-->
  <row>
    <columns class="social" small="2" large="1">
      <a href="https://www.linkedin.com/company/fisherscientific"><img src="http://images.info.fishersci.com/EloquaImages/clients/ThermoFisherScientificCCG/%7B52bb2d9b-bd5a-41e6-b948-a478bdfa35af%7D_ico-linkedin-rsd.jpg" alt="Follow us in LinkedIn"></a>
      <spacer size="10"></spacer>
      <a href="https://www.facebook.com/fisherscientific/"><img src="http://images.info.fishersci.com/EloquaImages/clients/ThermoFisherScientificCCG/%7Ba71728d3-556d-47ff-a80c-00c2596f3942%7D_ico-facebook-rsd.jpg" alt="Like us on Facebook"></a>
      <spacer size="10"></spacer>
      <a href="https://twitter.com/fishersci?lang=en"><img src="http://images.info.fishersci.com/EloquaImages/clients/ThermoFisherScientificCCG/%7Bf075f68e-be79-4b33-8ef8-c199b683c5da%7D_ico-tw-rsd.jpg" alt="Follow Us on Twitter"></a>
    </columns>
    <columns class="footer" small="10" large="6">
      <p>The products featured in this email are distributed by Fisher Scientific.</p>
      <spacer size="12"></spacer>
      <p>This is a Fisher Scientific marketing and promotional message. <br />Please review our <a href="http://www.fishersci.com/us/en/footer/privacypolicy.html?cid={{cid}}">Privacy Policy</a>.</p>
      <spacer size="12"></spacer>
      <p>If you'd like, you can <a href="http://info.fishersci.com/preference-center">Change Your Email Preferences</a>. <br />Or, <a href="http://info.fishersci.com/optout-preference-center">Opt Out</a></p>
      <spacer size="12"></spacer>
      <p>300 Industry Drive, Pittsburgh, PA 15275 USA<br />&copy; Thermo Fisher Scientific Inc. All Rights Reserved.</p>
      <spacer size="12"></spacer>
      <p>To ensure delivery, add <a href="mailto:fisherscientific@fishersci.com">fisherscientific@fishersci.com</a> to your address book.</p>
    </columns>
    <columns class="downloads" small="12" large="3">
      <p class="tfs"><img src="http://images.info.fishersci.com/EloquaImages/clients/ThermoFisherScientificCCG/%7B96e21d1f-0121-42e7-99bb-53a07b70b977%7D_thermo-fisher.png" alt="Thermo Fisher Scientific" width="130" /></p>
      <p>
        <span>Download the Fisher<br />Scientific App</span>
        <a href="https://www.fishersci.com/us/en/programs/fisher-scientific-app.html?cid={{cid}}"><img src="http://images.info.fishersci.com/EloquaImages/clients/ThermoFisherScientificCCG/%7Bfb928412-5025-4924-ad98-ff21565f345b%7D_apple-store.gif" alt="Download on the App Store" width="125" /></a>
        <a href="https://www.fishersci.com/us/en/programs/fisher-scientific-app.html?cid={{cid}}"><img src="http://images.info.fishersci.com/EloquaImages/clients/ThermoFisherScientificCCG/%7B129bc71d-9d16-4f5b-bc5b-93d50b114896%7D_google-play.gif" alt="Download on the App Store" width="125" /></a>
      </p>
    </columns>
  </row>
</container>

<spacer size="40"></spacer>