<container class="footer-wrap">
  <spacer size="20"></spacer>
  <!--[if !mso]><!-->
    <div class="mobile-only">
      <row class="mobile-footer">
        <columns small="12">
          <a href="http://www.fishersci.com/us/en/products.html?cid={{cid}}">Shop Products</a>
          <a href="http://www.fishersci.com/us/en/education-products/resources-and-programs.html?cid={{cid}}">Resources</a>
          <a href="http://app.info.fishersci.com/e/es.aspx?s=~~eloqua..type--emailfield..syntax--siteid..innerText--siteid..encodeFor--url~~&e=~~eloqua..type--emailfield..syntax--elqemailsaveguid..innerText--elqemailsaveguid..encodeFor--url~~">View Online</a>
        </columns>
      </row>
    </div>
  <!--<![endif]-->
  <row>
    <columns class="footer" small="12" large="8">
      <p>The products featured in this email are distributed by Fisher Science Education.</p>
      <spacer size="12"></spacer>
      <p>This is a Fisher Science Education marketing and promotional message. <br />Please review our <a href="http://www.fishersci.com/us/en/footer/privacypolicy.html?cid={{cid}}">Privacy Policy</a>.</p>
      <spacer size="12"></spacer>
      <p>If you do not wish to receive any marketing and promotional emails, <br />you may <a href="http://info.fishersci.com/FSEOptOut">Opt Out here</a>.</p>
      <spacer size="12"></spacer>
      <p>4500 Turnberry Drive, Hanover Park, IL 60133 USA<br />&copy; Thermo Fisher Scientific Inc. All Rights Reserved.</p>
      <spacer size="12"></spacer>
      <p>To ensure delivery, add <a href="mailto:education@fisheredu.com">education@fisheredu.com</a> to your address book.</p>
    </columns>
    <columns class="downloads" small="12" large="4">
      <p>
        <img src="http://images.info.fishersci.com/EloquaImages/clients/ThermoFisherScientificCCG/%7B96e21d1f-0121-42e7-99bb-53a07b70b977%7D_thermo-fisher.png" alt="Thermo Fisher Scientific" width="130" />
      </p>
    </columns>
  </row>
</container>