<container class="pre-header">
  <row>
    <columns>
      <a href="{{preheaderUrl}}?cid={{cid}}">{{preheaderText}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://app.info.fishersci.com/e/es.aspx?s=~~eloqua..type--emailfield..syntax--siteid..innerText--siteid..encodeFor--url~~&e=~~eloqua..type--emailfield..syntax--elqemailsaveguid..innerText--elqemailsaveguid..encodeFor--url~~">View Online</a>
    </columns>
  </row>
</container>

<container class="header">
  <row>
    <columns class="brand" small="12" large="6">
      <a href="http://www.fisheredu.com/?cid={{cid}}">
        <img src="http://images.info.fishersci.com/EloquaImages/clients/ThermoFisherScientificCCG/%7Ba6d7a837-87cf-41e7-9886-5a2cfaedd355%7D_brand-fse-v2.png" alt="Fisher Scientific Education" />
      </a>
    </columns>
    <columns class="top-nav show-for-large" large="6" valign="middle">
      <p class="text-right">
        <a href="http://www.fishersci.com/us/en/products.html?cid={{cid}}">Shop Products</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.fishersci.com/us/en/education-products/resources-and-programs.html?cid={{cid}}">Resources</a>
      </p>
    </columns>
  </row>
</container>